<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <!--STOMP--->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--app.js dependence: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/user.js"></script>
</head>
<body>

<table border="1" align="center" id="table">
    <tr>
        <td>Email</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}">myemail@email.com</td>
    </tr>
</table>

<form style="text-align: center">
    <table align="center">
        <tr>
        <td>Email</td>
        <td><input type="text" id="email"></td>
        </tr>
    </table>
    <button id="send" type="submit">Submit</button>
</form>
</body>
</html>